@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Signika:wght@300..700&family=Staatliches&display=swap');
* {padding: 0; margin: 0;}



.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#272829, #313233,#1d1e1f);
  transition: 2s;
}
.App:hover {
  background-image: linear-gradient(#1b1c1d, #323435,#282829);
}
.fade-in-element {
  opacity: 0;
}

.fade-in-element-enter {
  opacity: 0;
}

.fade-in-element-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
@keyframes start {
  from{opacity: 0;}
  to{opacity: 1;}
  
}
.MainPage {
  display: flex;
 flex-direction: column;
 align-items: center;
 box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.815);
  width: 650px;
  height: auto;
  padding: 20px;
  background-image: radial-gradient(circle, #FFF6F6,#FFF6F6, rgba(233, 233, 233, 0.897));
  animation-name: start;
  animation-duration: 2s;
  border-radius: 20px;
  transition: 2s;
}


.SectionPerfil {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.SectionPerfil-Perfil {
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 380px;
  height: 380px;
  
}
.IconGithub {
  width: 70px;
  height: 70px;

  background: url("./components/imgs/gitIcon.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
  transition: 0.6s;
}
 .IconLike {
  width: 70px;
  height: 70px;
  background: url("./components/imgs/likedin.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
  transition: 0.6s;
}

.IconGithub:hover {
  width: 75px;
}
.IconLike:hover {
  width: 75px;
}


.IconJs {
  background:url("./components/imgs/icons8-javascript-240.png");
  background-size: 100%;
}
.IconCs {
  background:url("./components/imgs/icons8-c-sharp-logo-480.png");
  background-size: 100%;
}
.Iconpython {
  background:url("./components/imgs/icons8-python-480.png");
  background-size: 100%;
}
.imgA{
  background:url("./components/imgs/chgif.gif");
  background-size: 100%;
}
.imgB{
  background:url("./components/imgs/iag.gif");
  background-size: 100%;
}
.imgC{
  background:url("./components/imgs/gmiag.gif");
  background-size: 100%;
}
.imgD{
  background:url("./components/imgs/python.png");
  background-size: 100%;
}